<div id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-info">
                    <ul>
                        <li><i class="fa fa-phone"></i>05555555555</li>
                        <li><i class="fa fa-envelope-o"></i>ekrem3792@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="site-header">
    <div id="main-header" class="main-header header-sticky">
        <div class="inner-header container clearfix">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="header-right-toggle pull-right hidden-md hidden-lg">
                <a href="javascript:void(0)" class="side-menu-button"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="main-navigation text-right hidden-xs hidden-sm">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")" class="has-submenu">AnaSayfa</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "About")" class="has-submenu">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "OurService")" class="has-submenu">Hizmetlerimiz</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "RecentProjects")" class="has-submenu">Projelerimiz</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Contact")" class="has-submenu">İletişim</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>